:root {
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);

    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 13px;
    height: 100%;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    background-image: url(images/bg-pattern-top-desktop.svg),
     url(images/bg-pattern-bottom-desktop.svg);
     background-repeat: no-repeat;
     background-position: left top, right bottom; 
}

@media only screen and (max-width: 375px) {
    body {
        background-image: url(images/bg-pattern-top-mobile.svg),
     url(images/bg-pattern-bottom-mobile.svg);
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
    margin-bottom: 50px;
}

.proof-wrapper {
    padding: 0 9px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas: 
    "header rating"
    "bottom bottom";
}

@media only screen and (max-width: 768px) {
    .proof-wrapper {
        grid-template-rows: max-content max-content max-content;
        grid-template-areas: 
        "header header"
        "rating rating"
        "bottom bottom";
        justify-items:center;
    }
}

.heading {
    grid-area: header;
    margin: 0 15px;
    padding-right: 54px;
    max-width: 540px;
    justify-self: end;
}

.heading h1 {
    font-size: 46px;
    line-height: 1;
    color: var(--veryDarkMagenta);
}

.heading p {
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.6;
    color: var(--darkGrayishMagenta);
}

@media only screen and (max-width: 768px) {
    .heading {
        text-align: center;
        padding: 0;
        justify-self: center;
        margin-bottom: 40px;
    }

    .heading h1 {
        font-size: 34px;
    }
}

.rating {
    padding-top: 8px;
    margin: 0 15px;
    max-width: 540px;
    grid-area: rating;
    display: flex;
    flex-direction: column;
}

.rating-item {
    width: 445px;
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    padding: 20px 0 16px;
    border-radius: 8px;
    align-self: center;
    background-color: var(--lightGrayishMagenta);
}

.rating-item:first-child {
    align-self:flex-start;
}

.rating-item:last-child {
    align-self:flex-end;
}

.stars {
    margin-left: 30px;
    margin-right: 30px;
}

.stars img {
    margin: 0 2.2px;
}

.rated {
    font-weight: 700;
    color: var(--veryDarkMagenta);
}


.testimonials {
    grid-area: bottom;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 282px;
    margin-top: 9vh;
}


@media only screen and (max-width: 768px) {

    .rating {
        text-align: center;
    }

    .rating-item {
        max-width: 327px;
        flex-direction: column;
    }

    .rated {
        margin-top: 10px;
    }

    .testimonials {
    margin-top: 50px;

    }
}

figure {
    max-width: 350px;
    background-color: var(--veryDarkMagenta);
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "image figcaption"
    "image status"
    "quote quote";
    padding: 40px 25px 38px 32px;
    margin: 8px 15px;
    border-radius: 8px;
    color: var(--white);
    align-self: center;
}

figure:first-child {
    align-self: flex-start;
}

figure:last-child {
    align-self: flex-end;
}

figure img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    grid-area: image;
}

figcaption {
    grid-area: figcaption;
    margin-left: 22px;
}

cite {
    font-style: normal;
}

span {
    grid-area: status;
    margin-left: 22px;
    color: var(--softPink);
}

blockquote {
    margin-top: 28px;
    grid-area: quote;
    line-height: 1.7;
}
